# Logs
npm-debug.log*

# nyc test coverage
.nyc_output/

# Dependency directories
node_modules/

# dotenv environment variables file
.env
env.yml

# Serverless packages
.serverless

# System files
.DS_Store

# Build scripts
bin/

# ESDocs
esdoc/
