service: cognicity-sensors-etl

custom:
  projectName: us-${opt:stage}
  usgsSensorSchedule: rate(12 hours)
  usgsDataSchedule: rate(15 minutes)
  sfwmdTimeseriesSchedule: rate(30 minutes)
  sfwmdAggregateSchedule: rate(6 hours)

provider:
  name: aws
  profile: serverless
  runtime: nodejs6.10
  stage: ${opt:stage}
  region: ${file(./.env.yml):region}
  stackTags:
    area: ${file(./.env.yml):areatag}

package:
  individually: true
  exclude: # Specify the directories and files which should be excluded in the deployment package
    - bin/functions/** # Include functions individually
    - bin/test/**
    - src/**
    - .git/**
    - .nyc_output/**
    - coverage/**
    - esdoc/**
    - .babelrc
    - .env
    - .eslintrc.js
    - .gitignore
    - .travis.yml
    - README.md

# Add one function for each Lambda
functions:
  # USGS sensors
  etlGroundwaterSensor:
    handler: bin/functions/etl-sensors/usgs.handler
    package:
      include:
        - bin/functions/etl-sensors/usgs/**
    environment:
      API_KEY: ${file(./.env.yml):${opt:stage}-apikey}
      SENSOR_CODE: '62610'
      SERVER_ENDPOINT: ${file(./.env.yml):${opt:stage}-serverEndPoint}
    timeout: 12
    events:
      - schedule: ${self:custom.usgsSensorSchedule}

  etlGaugeHeightSensor:
    handler: bin/functions/etl-sensors/usgs.handler
    package:
      include:
        - bin/functions/etl-sensors/usgs/**
    environment:
      API_KEY: ${file(./.env.yml):${opt:stage}-apikey}
      SENSOR_CODE: '00065'
      SERVER_ENDPOINT: ${file(./.env.yml):${opt:stage}-serverEndPoint}
    timeout: 12
    events:
      - schedule: ${self:custom.usgsSensorSchedule}

  etlDischargeRateSensor:
    handler: bin/functions/etl-sensors/usgs.handler
    package:
      include:
        - bin/functions/etl-sensors/usgs/**
    environment:
      API_KEY: ${file(./.env.yml):${opt:stage}-apikey}
      SENSOR_CODE: '00060'
      SERVER_ENDPOINT: ${file(./.env.yml):${opt:stage}-serverEndPoint}
    timeout: 12
    events:
      - schedule: ${self:custom.usgsSensorSchedule}

  etlStreamElevationSensor:
    handler: bin/functions/etl-sensors/usgs.handler
    package:
      include:
        - bin/functions/etl-sensors/usgs/**
    environment:
      API_KEY: ${file(./.env.yml):${opt:stage}-apikey}
      SENSOR_CODE: '63160'
      SERVER_ENDPOINT: ${file(./.env.yml):${opt:stage}-serverEndPoint}
    timeout: 12
    events:
      - schedule: ${self:custom.usgsSensorSchedule}

  etlPrecipitationSensor:
    handler: bin/functions/etl-sensors/usgs.handler
    package:
      include:
        - bin/functions/etl-sensors/usgs/**
    environment:
      API_KEY: ${file(./.env.yml):${opt:stage}-apikey}
      SENSOR_CODE: '00045'
      SERVER_ENDPOINT: ${file(./.env.yml):${opt:stage}-serverEndPoint}
    timeout: 12
    events:
      - schedule: ${self:custom.usgsSensorSchedule}

  # USGS Sensor Data
  etlGroundwaterData:
    handler: bin/functions/etl-data/usgs.handler
    package:
      include:
        - bin/functions/etl-data/usgs/**
    environment:
      API_KEY: ${file(./.env.yml):${opt:stage}-apikey}
      RECORDS_PERIOD: P1D
      RECORDS_INTERVAL: PT15M
      SENSOR_CODE: '62610'
      SERVER_ENDPOINT: ${file(./.env.yml):${opt:stage}-serverEndPoint}
      HAS_UPSTREAM_DOWNSTREAM: 'false'
    timeout: 24
    events:
      - schedule: ${self:custom.usgsDataSchedule}

  etlGaugeHeightData:
    handler: bin/functions/etl-data/usgs.handler
    package:
      include:
        - bin/functions/etl-data/usgs/**
    environment:
      API_KEY: ${file(./.env.yml):${opt:stage}-apikey}
      RECORDS_PERIOD: P1D
      RECORDS_INTERVAL: PT15M
      SENSOR_CODE: '00065'
      SERVER_ENDPOINT: ${file(./.env.yml):${opt:stage}-serverEndPoint}
      HAS_UPSTREAM_DOWNSTREAM: 'false'
    timeout: 24
    events:
      - schedule: ${self:custom.usgsDataSchedule}

  etlDischargeRateData:
    handler: bin/functions/etl-data/usgs.handler
    package:
      include:
        - bin/functions/etl-data/usgs/**
    environment:
      API_KEY: ${file(./.env.yml):${opt:stage}-apikey}
      RECORDS_PERIOD: P1D
      RECORDS_INTERVAL: PT15M
      SENSOR_CODE: '00060'
      SERVER_ENDPOINT: ${file(./.env.yml):${opt:stage}-serverEndPoint}
      HAS_UPSTREAM_DOWNSTREAM: 'false'
    timeout: 24
    events:
      - schedule: ${self:custom.usgsDataSchedule}

  etlStreamElevationData:
    handler: bin/functions/etl-data/usgs.handler
    package:
      include:
        - bin/functions/etl-data/usgs/**
    environment:
      API_KEY: ${file(./.env.yml):${opt:stage}-apikey}
      RECORDS_PERIOD: P1D
      RECORDS_INTERVAL: PT15M
      SENSOR_CODE: '63160'
      SERVER_ENDPOINT: ${file(./.env.yml):${opt:stage}-serverEndPoint}
      HAS_UPSTREAM_DOWNSTREAM: 'true'
    timeout: 24
    events:
      - schedule: ${self:custom.usgsDataSchedule}

  etlPrecipitationData:
    handler: bin/functions/etl-data/usgs.handler
    package:
      include:
        - bin/functions/etl-data/usgs/**
    environment:
      API_KEY: ${file(./.env.yml):${opt:stage}-apikey}
      RECORDS_PERIOD: P1D
      RECORDS_INTERVAL: PT15M
      SENSOR_CODE: '00045'
      SERVER_ENDPOINT: ${file(./.env.yml):${opt:stage}-serverEndPoint}
      HAS_UPSTREAM_DOWNSTREAM: 'false'
    timeout: 24
    events:
      - schedule: ${self:custom.usgsDataSchedule}

  # SFWMD Upload Stations
  wmdUploadStations:
    handler: bin/functions/etl-sensors/sfwmd.handler
    package:
      include:
        - bin/functions/etl-sensors/sfwmd/**
    environment:
      API_KEY: ${file(./.env.yml):${opt:stage}-apikey}
      SERVER_ENDPOINT: ${file(./.env.yml):${opt:stage}-serverEndPoint}
    timeout: 24
    # Use 'ManualTrigger' Test in lambda function console after updating stations.js

  # SFWMD timeseries data
  etlWmdTimeseriesData:
    handler: bin/functions/etl-data/sfwmd/timeseries.handler
    package:
      include:
        - bin/functions/etl-data/sfwmd/timeseries/**
    environment:
      API_KEY: ${file(./.env.yml):${opt:stage}-apikey}
      RECORDS_PERIOD: P1D
      RECORDS_INTERVAL: PT30M
      SERVER_ENDPOINT: ${file(./.env.yml):${opt:stage}-serverEndPoint}
    timeout: 60
    events:
      - schedule:
        rate: ${self:custom.sfwmdTimeseriesSchedule}
        enabled: false

  # SFWMD calulated daily mean data
  etlWmdAggregateData:
    handler: bin/functions/etl-data/sfwmd/agggregate.handler
    package:
      include:
        - bin/functions/etl-data/sfwmd/aggregate/**
    environment:
      API_KEY: ${file(./.env.yml):${opt:stage}-apikey}
      RECORDS_PERIOD: P7D
      RECORDS_INTERVAL: PT6H
      SERVER_ENDPOINT: ${file(./.env.yml):${opt:stage}-serverEndPoint}
    timeout: 60
    events:
      - schedule:
        rate: ${self:custom.sfwmdAggregateSchedule}
        enabled: false
